.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}


.left {
  height: 100%;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 3.5fr;
  background-color: green;
}

.left-title {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-icon {
  font-size: 50px;
  font-style: normal;
}

.left-title-header {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.left-win-grid {
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-alert {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
}

.game-grid {
  height: 450px;
  width: 450px;
  margin-top: 70px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url("assets/grid.png");
}

.game-square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}

.right {
  height: 100%;
  grid-column: 3 / 4;
  display: grid;
  grid-template-rows: 1fr 3.5fr;
  background-color: green;
}

.right-title {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-title-header {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.right-win-grid {
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
}

.mini-game {
  background-color: white;
  height: 75px;
  width: 75px;
  display: grid;
  margin: 10px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.mini-square {
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
